@{
    ViewData["Title"] = "خانه";
}

<div class="alert alert-success mt-5">
    <a href="#" class="close" data-dismiss="alert">×</a>
    مثالی از نحوه‌ی سفارشی سازی ASP.NET Core Identity
</div>

@{
    if (User.Identity.IsAuthenticated)
    {
        <security-trimming asp-area="" asp-controller="RequestTypes" asp-action="Index">
            <a class="btn btn-success" asp-controller="RequestTypes" asp-action="Index">
                نوع درخواست ها
            </a>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="Customers" asp-action="Index">
            <a class="btn btn-success" asp-controller="Customers" asp-action="Index">
                مشتری ها
            </a>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="SoftwareVersions" asp-action="Index">
            <a class="btn btn-success" asp-controller="SoftwareVersions" asp-action="Index">
                ورژن ها
            </a>
        </security-trimming>
    }
}
